<div class="row m-0 my-5">
  <div class="col-lg-6">
    <clp-about-chiawei-figure/>
  </div>
  <div class="col-lg-6 mt-lg-0 mt-4 py-lg-0 py-5">
    <clp-about-hi-world-description/>
  </div>


  <div class="row m-0 mt-2 my-5 py-5">
    <div class="col-lg-4 mt-lg-0 mt-4">
      <clp-about-skills-list/>
    </div>
    <div class="col-lg-4 figure mt-lg-0 mt-4">
      <img src="images/about/chiawei-figure-2.png" alt="">
    </div>
    <div class="col-lg-4 mt-lg-0 mt-4">
      <clp-about-technology-list/>
    </div>
  </div>
</div>
