<footer>
    <div class="row m-0 p-4">
        <div class="col-6">
            <h4>
                Contact Me
            </h4>
            <h6>
                {{'chiaweilin28@gmail.com'}}
            </h6>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-end">
            <img class="social" src="images/footer/linkedIn.png" alt="Linkedin">
            <img class="social" src="images/footer/Instagram.png" alt="home-img">
            <img class="social" src="images/footer/youtube.png" alt="">
        </div>
        <div class="col-auto d-flex align-items-end">
        </div>
    </div>
    <div class="row justify-content-between m-0">
        
    </div>
</footer>