<footer>
    @if (translationConcat('CONTACT_ME') | translate) {
    <div class="row m-0 p-4">
        <div class="col-6">
            <h4>
                {{translationConcat('CONTACT_ME') | translate}}
            </h4>
            <h6>
                {{'chiaweilin28@gmail.com'}}
            </h6>
        </div>
        <div class="col-6 d-flex justify-content-end align-items-end">
            <a role="button" (click)="toLink('https://www.linkedin.com/in/chiawei-lin-82951022b/')">
                <img class="social" src="images/footer/linkedin.png" target="_blank" alt="Linkedin_icon">
            </a>
            <a role="button" (click)="toLink('https://www.instagram.com/weiweishouse_/')">
                <img class="social" src="images/footer/instagram.png" target="_blank" alt="Instagram_icon">
            </a>
            <a role="button" (click)="toLink('https://www.youtube.com/@chiawei6096')">
                <img class="social" src="images/footer/youtube.png" target="_blank" alt="Youtube_icon">
            </a>
        </div>
    </div>
    }

</footer>
