.skills-list {
  position: relative;
  display: flex;

  .icon {
    height: 44px;

    img {
      aspect-ratio: 1/1;
      height: 100%;
    }
  }

  .list {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin: 0;
      }
    }
  }

  .exclamation-figure {
    position: absolute;
    bottom: 0;
    right: 20px;
    transform: translateY(20px);
    aspect-ratio: 200/174;
    height: 100px;
    pointer-events: none;
    opacity:.5;
    @media(min-width:991px){
    opacity:1;
    }
  }
}
