<div class="description">
    <img src="images/about/stars.png" alt="" class="stars">
    <h1>
        <strong>
            Hi World!
        </strong>
    </h1>
    
    <p>
        I am currently pursuing my MA in Animation at DePaul University, specializing in motion graphics, and I am on track to graduate in June 2025. My journey in motion graphics began in 2021, and it has been a passion of mine ever since. I primarily work with After Effects, Illustrator, and Cinema 4D, creating dynamic and visually compelling designs that tell stories and engage audiences. Additionally, I’ve been crafting 2D hand-drawn animations since 2020, which has allowed me to explore a more traditional approach to animation. So far, I’ve created three short films that reflect my love for storytelling and artistic expression.
    </p>
    <img src="images/about/paws.png" alt="" class="paws">
</div>