<a role="button" [routerLink]="['/']" class="px-3 text-secondary">
  <i class="bi bi-house-door-fill"></i>
</a>

<i class="bi bi-chevron-compact-right text-secondary"></i>

<a role="button" [routerLink]="['/projects/']" class="px-3 text-secondary">
  <i class="bi bi-grid"></i>

  <span>
    {{translationConcat('PROJECT_BREADCRUMBS_PROJECTS') | translate}}
  </span>
</a>

<i class="bi bi-chevron-compact-right text-secondary"></i>

<a class="px-3 selected text-dark">
  <i class="bi bi-file-earmark-fill"></i>

  <span>
    {{project?.title?.[translateService.currentLang]}}
  </span>
</a>
