nav {
    a {
        text-decoration: none;
        color: var(--bs-body-color);
        font-size: 1.5rem;
        opacity: .7;
        transition: all .3 ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    ul {
        display: none;
    }

    clp-burger-menu {
        display: block;
    }
}

.menu {
    display: block;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #DCD7C1;
    display: none;
    padding-top: 100px;


    &.toggled {
        display: block;
    }

    ul {
        display: flex;
        flex-direction: column;
        list-style: none;
        justify-content: center;
        align-items: center;

        li {
            margin: 18px 0;

            a {
                text-decoration: none;
                color: var(--bs-body-color);
                font-size: 1.5rem;
            }
        }
    }
}


@media (min-width: 992px) {

    nav {
        a {
            text-decoration: none;
            color: var(--bs-body-color);
            font-size: 1.5rem;
            opacity: .7;
            transition: all .3 ease-in-out;

            &:hover {
                opacity: 1;
            }
        }

        ul {
            display: flex;
            list-style: none;
            justify-content: end;

            li {
                margin: 0 14px;
            }
        }

        clp-burger-menu {
            display: none;
        }
    }

    .menu {
        display: none !important;
    }
}

@media (max-width: 992px) {
    nav {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 9999;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        background-color: #EEEBDC;
    }
}