<a role="button" class="project-card" [routerLink]="['/project/' + project?.id]">
  <img [src]="project?.coverImg" alt="">

  <div class="overlay p-2">
    <h4 class="text-center text-dark">
      {{project?.title?.[translateService.currentLang]}}
    </h4>

    <ul class="text-dark">
      <li class="ms-2 px-5">
        <h5>
          Technology 1
        </h5>
      </li>

      <li class="ms-2 px-5">
        <h5>
          Technology 2
        </h5>
      </li>

      <li class="ms-2 px-5">
        <h5>
          Technology 3
        </h5>
      </li>
    </ul>
  </div>
</a>
